$color-white: #ffffff;
$color-border: #e0e6ed;
$color-heading: #1b2559;
$color-accent-light: #a3edee;
$color-text-muted: #8f9bba;
$color-background: #f4f7fe;
$color-text-hover: #2b3674;
$color-background-active: #e9f3ff;
$color-primary: #4318ff;
$color-text: #333;