@use './colors' as colors;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: colors.$color-background;
  color: colors.$color-text;
}

a {
  text-decoration: none;
  color: inherit;
}
